@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amiko:wght@400;600;700&family=Andada+Pro:wght@400;600&family=Anek+Gujarati&family=Big+Shoulders+Inline+Text&family=Big+Shoulders+Stencil+Display&display=swap');

* {
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;

}


:root {
    --yellow-color: #FFF73A;
    --light-grey: #F7F7F7;
    --white: #FFFFFF;
    --black: #000000;
    --grey-background: #D2D6DB;
    --dark-grey: #505356;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 1440px;
   
}
.graphic-rectangle {
position: absolute;
width: 756px;
height: 1034px;
left: 0px;
top: 0px;
background:rgba(217, 217, 217, 0.2);
}

.graphic-rectangle-left{
position: absolute;
width: 157px;
height: 661px;
left: 0px;
top: 366px;
background:#FFFFFF
}

.graphic-rectangle-right {
position: absolute;
width: 107px;
height: 870px;
left: 1333px;
top: 0px;
background: #F7F7F7;
}

body {
position: relative;
width: 1440px;
}

.dotted-pic {
position: absolute;
width: 93px;
height: 95px;
left: 149px;
top: 120px;
z-index: 1;
}

.container-header {
    display: flex;
    align-items: center;
    width: 1380px;
    margin-left:auto;
    margin-right: auto;
    /* border: 2px solid blue; */
}

.container-header img {
    /* border: 2px solid red; */
    z-index: 10;
    display: block;
    position: relative;
    left: 1px;
}
.nav a {
    color: rgba(96, 96, 96, 1);
    font-family: 'Amiko', sans-serif;
    font-size: 20px;
}

.dotted-grid-2 {
    position: absolute;
    width: 93px;
    height: 95px;
    left: 611px;
    top: 683px; 
}
.container {
    width: 1440px;
    margin: 40px auto;
}
.header {

    margin-top: 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    
    background-color:#FFF73A;
    padding: 20px;
    width: 950px;
    margin-right: 75px;
    margin-left: 0px;
}

.links {
    margin-left: auto;
    width: 400px;
    /* border: 2px solid green; */
    display:flex;
    justify-content: space-between;
}


.logo {
    z-index: 1;
}
.nav a:hover {
    color: rgba(154, 156, 158, 1);
    text-decoration: underline;
}
.white-background {
    position: absolute;
width: 549px;
height: 746px;
left: 214px;
top: 153px;

background: #FFFFFF;
}

.grey-rectangle{

    position: absolute;
width: 555px;
height: 746px;
left: 756px;
top: 153px;

background: #F7F7F7;
}
.vector {
    position: absolute;
width: 231px;
height: 241px;
left: 93px;
top: 96px;

color:  #000000;
z-index: -1;
}
h2 {
position: absolute;
width: 457px;
height: 112px;
left: 227px;
top: 179px;
font-family: 'Big Shoulders Stencil Display';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
color: #000000;
z-index: 1;
}
.yellow-rectangle {
position: absolute;
width: 124px;
height: 7px;
left: 230px;
top: 258px;
}
.dark-grey {
position: absolute;
width: 1068px;
height: 383px;
left: 249px;
top: 317px;
background: #505356;
z-index: 1;
}
h3 {
position: absolute;
width: 400px;
height: 53px;
left: 272px;
top: 337px;
font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 61px;
color: #FFFFFF;
z-index: 2;
}
.lines {
position: absolute;
width: 502px;
height: 397px;
left: 432px;
top: 345px;
z-index: 1;
}
p {
position: absolute;
width: 170px;
height: 11px;
left: 273px;
top: 460px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #FFFFFF;
z-index: 1;
}
h4 {
    position: absolute;
    width: 351px;
    height: 22px;
    left: 273px;
    top: 485px;
    
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    
    color: #EFEFEF;
    z-index: 2;
    
}
.btn-light{
position: absolute;
width: 121px;
height: 40px;
left: 287px;
top: 591px;

font-family: 'Andada Pro';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 18.83px;
text-align: center;

color: #000000;
    z-index: 2;
    }
    .btn-light {
        background-color: #FFF73A;
            border-radius: 20px;
            padding: 20px; 
            width: 200px;
            height: 60px; 
    }
    .btn-light:hover {
        background-color: rgba(154, 156, 158, 1);
        color: white;
    }
.frame {
position: absolute;
width: 192px;
height: 72px;
left: 432px;
top: 670px;

background: #606060;
mix-blend-mode: hard-light;
z-index: 2;
}
.camera {
    position: absolute;
width: 552px;
height: 381px;
left: 765px;
top: 319px;
z-index: 2;
}
.yel-rec {
position: absolute;
width: 243px;
height: 40px;
left: 683px;
top: 722px;

background: #FFF73A;
z-index: 1;
}
.grey-rec {
position: absolute;
width: 277px;
height: 23px;
left: 735px;
top: 750px;

background: rgba(217, 217, 217, 0.2);
}
.More {
position: absolute;
width: 588px;
height: 67px;
left: 295px;
top: 860px;

font-family: 'Big Shoulders Stencil Display';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;

color: #000000;
}
.yel-rec-2 {
    position: absolute;
    width: 277px;
    height: 13px;
    left: 615px;
    top: 1130px;
    background: #FFF73A;
}
.grey-rec-2 {
position: absolute;
width: 1200px;
height: 200px;
left: 140px;
top: 1350px;
background: #505356;
z-index: 1;
}
.light-grey {
    position: absolute;
    width: 338px;
    height: 309px;
    left: 160px;
    top: 1195px;
    background: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.box-1 :hover {
background-color:#D2D6DB
}

.box-2 :hover {
    background-color:#D2D6DB 
}
.box-3 :hover {
    background-color:#D2D6DB 
}
.light-grey-1 {
    position: absolute;
    width: 338px;
    height: 309px;
    left: 570px;
    top: 1195px;
    background: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.light-grey-2 {
    position: absolute;
    width: 338px;
    height: 309px;
    left: 980px;
    top: 1195px;
    background: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.first-img {
position: absolute;
left: 190px;
right: 100px;
top: 1220px;
bottom: 1000px;
z-index: 10;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.second-img {
position: absolute;
left: 600px;
right: 100px;
top: 1220px;
bottom: 1000px;
z-index: 10;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.third-img {
    position: absolute;
    left: 1010px;
    right: 100px;
    top: 1220px;
    bottom: 1000px;
    z-index: 20;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
}
.text-1 p{
    position: absolute;
    left: 155px;
    right: 100px;
    top: 1420px;
    bottom: 1200px;
font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;
z-index: 100;
color: #231F20;
    }
.text-2 p{
    position: absolute;
    left: 570px;
    right: 100px;
    top: 1420px;
    bottom: 1200px;
font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;
z-index: 100;
color: #231F20;
}
.text-3 p{
    position: absolute;
    left: 980px;
    right: 100px;
    top: 1420px;
    bottom: 1200px;
font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;
z-index: 100;
color: #231F20;  
}
.text-1-1 h4{
    position: absolute;
    left: 195px;
    right: 100px;
    top: 1450px;
    bottom: 1200px;
    font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;
color: #231F20;

}
.text-2-2 h4{
    position: absolute;
    left: 610px;
    right: 100px;
    top: 1445px;
    bottom: 1200px;
    font-family: 'Abel';
    font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;
color: #231F20;
}
.text-3-3 h4{
    position: absolute;
    left: 1017px;
    right: 100px;
    top: 1445px;
    bottom: 1200px;
    font-family: 'Abel';
    font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;
color: #231F20;
}
.subscribe h5{
    position: absolute;
    width: 486px;
    height: 69px;
    left: 505px;
    top: 1700px;
    
    font-family: 'Big Shoulders Stencil Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    
    color: #000000;
    z-index: 100;
}
.yel-rec-3 {
    position: absolute;
    width: 277px;
    height: 13px;
    left: 615px;
    top: 1790px;
    background: #FFF73A;
    z-index: 100;
}
.des p{
position: absolute;
width: 571px;
height: 357px;
left: 450px;
top: 1830px;
font-family: 'Andada Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #000000;
}
.btn {
position: absolute;
width: 481px;
height: 57px;
left: 500px;
top: 1950px;
}
.btn-1 p{
    position: absolute;
    width: 159px;
    height: 67px;
    left: 800px;
    top: 1940px;
    padding: 20px;
font-family: 'Andada Pro';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 24px;
z-index: 200;
color: #686868;
background-color: #FFF73A;
}
.btn-1 p:hover{
    background-color: #D2D6DB;
}
.rec-yellow {
    position: absolute;
width: 277px;
height: 13px;
left: 401px;
top: 2100px;
background: #FFF73A;
z-index: 100;
}
.rec-grey {
    position: absolute;
width: 277px;
height: 13px;
left: 500px;
top: 2110px;
background: rgba(217, 217, 217, 0.2);
}
.underline a {
text-decoration: underline;
}
.email p{
position: absolute;
width: 294px;
height: 46px;
left: 520px;
top: 1952px;
font-family: 'Andada Pro';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
color:  
rgba(210, 214, 219, 1);

}
.email p:hover {
opacity: 0;
}