@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amiko:wght@400;600;700&family=Andada+Pro:wght@400;600&family=Anek+Gujarati&family=Big+Shoulders+Inline+Text&family=Big+Shoulders+Stencil+Display&display=swap');

* {
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;

}


:root {
    --yellow-color: #FFF73A;
    --light-grey: #F7F7F7;
    --white: #FFFFFF;
    --black: #000000;
    --grey-background: #D2D6DB;
    --dark-grey: #505356;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 1440px;
   
}
body {
    max-width: 1440px;
    /* background-image: url(Images/Desktop\ -\ 1-2.png); */
    background-position:inherit;
    background-size: 1440px;
    padding-right:5%;
    box-sizing: border-box;
    position:relative;
    
}
.graphic-rectangle {
position: absolute;
width: 756px;
height: 1034px;
left: 0px;
top: 0px;
background: rgba(217, 217, 217, 0.2);
}

.graphic-rectangle-left{
position: absolute;
width: 157px;
height: 661px;
left: 0px;
top: 366px;
background:#FFFFFF
}

.graphic-rectangle-right {
position: absolute;
width: 107px;
height: 870px;
left: 1333px;
top: 0px;
background: #F7F7F7;
}

body {
position: relative;
width: 1440px;
}
.btn {
position: absolute;
width: 197px;
height: 68px;
left: 249px;
top: 511px;
}

.extra-image-lines {
position: absolute;
width: 409px;
height: 255px;
left: 175px;
top: 555px;

background: url(diagonal-v04-23.jpg);
opacity: 0.5;
}
.extra-image-girl {
    position: absolute;
width: 399px;
height: 558px;
left: 689px;
top: 439px;

background: url(pexels-alexander-krivitskiy-1572878.jpg);
}
/* .right {
position: absolute;
width: 547px;
height: 717px;
left: 756px;
border: 2px solid red;
top: 153px;
background-color: red;
overflow: auto;

background: url(woman-on-the-grey-wall-background-2022-02-09-23-17-44-utc.jpg);

} */

.right {
    width: 547px;
    height: 717px;
    background: url(./Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 756px;
    top: 153px;
    z-index: -99;
}

.white-background {
    position: absolute;
    width: 542px;
    height: 591px;
    left: 213px;
    top: 153px;
    background: #FFFFFF;
 }

h2 {
    position: absolute;
width: 457px;
height: 112px;
left: 227px;
top: 179px;

font-family: 'Big Shoulders Stencil Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 57px;

color: #000000;
}
h1 {
position: absolute;
width: 736px;
height: 172px;
left: 223px;
top: 232px;

font-family: 'Big Shoulders Inline Text';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 153px;

color: #000000;
} 
.white {
    color: #FFFFFF;
}
p{
    position: absolute;
    width: 537px;
    height: 132px;
    left: 227px;
    top: 380px;
    font-family: 'Andada Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.btn-light{
position: absolute;
width: 176px;
height: 53px;
left: 259px;
top: 528px;
font-family: 'Anek Gujarati', sans-serif;
font-style: normal;
font-weight: 400px;
font-size: 24px;
line-height: 36px;
text-align: center;
color: rgba(0, 0, 0, 1);
}
.btn-light {
    background-color: #FFF73A;
        border-radius: 20px;
        padding: 20px; 
        width: 200px;
        height: 70px; 
}
.btn-light:hover {
    background-color: rgba(154, 156, 158, 1);
    color: white;
}

.dotted-pic {
position: absolute;
width: 93px;
height: 95px;
left: 149px;
top: 120px;
}

.nav a {
    color: rgba(96, 96, 96, 1);
    font-family: 'Amiko', sans-serif;
    font-size: 20px;
}
.nav a:hover {
    color: rgba(154, 156, 158, 1);
    text-decoration: underline;
}
.dotted-grid-2 {
    position: absolute;
    width: 93px;
    height: 95px;
    left: 611px;
    top: 683px; 
}
.container {
    width: 1440px;
    margin: 40px auto;
}
.header {

    margin-top: 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display:flex;
    width: 200px;
    justify-content: space-between;
}

.nav {
        display:flex;
        position:absolute;
        top: 40px;
        background-color:#FFF73A;
        width: 72%;
        height: 50px;
        margin-left: 310px;
    }
.nav {
   z-index: -1 ;

    
}
.nav {
    padding: 12px;
    padding-left: 600px;
    padding-right: 70px;
    position: absolute;
}

.nav a :hover {
    color: aqua;
}
